# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS / Editor files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Coverage reports
coverage/

# MongoDB dumps
dump/

# Optional builds
dist/
build/
